[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pyyaml = "*"
pylint = "*"

[dev-packages]
twine = "*"
cppt = {editable = true, path = "."}
toml = "*"
black = "*"

[requires]
python_version = "3.8"
