[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pyyaml = "*"

[dev-packages]
black = "*"
twine = "*"
cppt = {editable = true, path = "."}
toml = "*"

[scripts]
format = "black ."

[requires]
python_version = "3.8"
