[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pyyaml = "*"

[dev-packages]
isort = "*"
yapf = "*"
twine = "*"
cppt = {editable = true, path = "."}
toml = "*"

[requires]
python_version = "3.8"
